@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.woff2) format('woff2');
  }

/* Everything is border-box and has zero padding/margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set height to 100% to allow child divs to span entire height of page */
body, html {
    height: 100%;
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

/* Set sizing of h2 */
h2 {
    font-size: 1em;
}

/* Flex container for the sidebar and main form - allows main form to take up more space */
.flex-container {
    /* height: 100%; */
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
}

/* Relatively position sidebar to allow Odin banner and photo credits to be placed over background image */
.sidebar {
    position: relative;
    /* min-height: 100%; */
    /* border: 1px solid blue; */
    flex: 1;
    /* background-image: url(background-image.jpg); */
    /* background-attachment: scroll; */
}

/* Format Odin logo : set height to control Odin icon size. Overflow: visible for mobile formatting */
.odin-logo {
    /* border: 1px solid red; */
    position: absolute;
    font: 3em 'Norse-Bold';
    color: white;
    width: 100%;
    top: 25%;
    height: 100px;
    /* overflow: scroll; */
}

/* Center justified to group image and text. Flex wrap allows overflow when on mobile */
.odin-text-logo {
    /* border: 1px dotted red; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.odin-image {
    object-fit: contain;
    height: 100%;
}

/* Background image for sidebar */
.leafy {
    /* background-size: cover; */
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* background-attachment: fixed; */
}

a,
.photo-credits { 
    color: #d3d3d3; 
}

.photo-credits {
    position: absolute;
    font: 0.8em sans-serif;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Main form has flex display to allow children (header, form-fields, submit) to sit properly */
.sign-up {
    height: 100%;
    /* border: 1px solid red; */
    background-color:#f5f5f5;
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

header,
.form-fields,
.submit {
    /* border: 1px solid orange; */
    flex: 1;
    margin-top: 30px;
    padding-left: 30px;
}

header {
    margin-top: 100px;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 3px 11px 18px -15px rgba(0,0,0,0.61);
    padding: 20px 30px 0px 30px;
}

/* Ensure form title has whole line */
.form-title {
    min-width: 100%;
    padding-bottom: 20px;
}

/* Make label position above input */
.form-row {
    /* font-family: 'Gill Sans', Tahoma, Verdana, sans-serif; */
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-width: 40%;
    padding: 0 20px 30px 0;
}

input {
    padding: 5px;
    height: 30px;
    min-width: 160px;
    max-width: 260px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font: 0.8em sans-serif;
}

input + span {
    position: relative;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.3)
}

input:invalid {
    border: 2px solid red;
}

input.error {
    border: 2px solid red;
}

input.error + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "* Passwords do not match.";
    color: red;
    padding: 5px 10px;
    top: -2px;
    left: -5px;
}

button {
    border: 0;
    padding: 5px;
    margin-bottom: 20px;
    height: 40px;
    width: 180px;
    font: bold 0.8em sans-serif;
    color: #fff;
    background-color: #596D48;
    border-radius: 5px;
    box-shadow: 5px 9px 10px -9px rgba(0,0,0,0.61);
}

p { font: 0.8em sans-serif; }
p a { color: #596D48; }

@media only screen and (min-width: 595px) {
    h2 {
        font-size: 1.5em;
    }
    
    .odin-logo {
        font-size: 6em;
    }
}

@media only screen and (min-width: 1024px) {
    .form-row { min-width: 35%; }
}